<script>
  import Post from "../components/Post.svelte";
  import ApolloClient from "apollo-boost";
  //   import Example from './_components/Example.svelte';
  import { setClient } from "svelte-apollo";
  import Login from "../components/Login.svelte";
  const client = new ApolloClient({
    uri: "https://graphql-test-postgres.herokuapp.com/v1/graphql"
  });
  setClient(client);
</script>

<style>
  /* darken text for accessibility */
  /* TODO does this belong elsewhere? */
  :global(.back-light) {
    --text: hsl(36, 3%, 44%);
  }
</style>

<svelte:head>
  <title>HIVE</title>
</svelte:head>

<!-- <div class="examples">
	<Example id="hello-world">
		<p>Svelte components are built on top of HTML. Just add data.</p>
	</Example>
</div> -->

<Login />

<Post />
