<script>
  import { signOut } from '../firebase'
  import { authStore } from '../stores/auth'
  import Profile from './Profile.svelte'
  import SignInButton from './SignInButton.svelte'
</script>

<section>
  {#if $authStore.status === 'in'}
    <Profile {...$authStore.user} />
    <button on:click={signOut}>Logout</button>
  {:else}
    <SignInButton provider={'google'} />
  {/if}
</section>

<style>
section {
    margin-bottom: 1rem;
  }
button {
    border-radius: 5px;
    font-size: 3em;
    padding: 5px;
    background-color: #121212;
    color: #FFFFFF;
    transition: all .2s ease 
  }
  button:hover {
    background-color: #FFFFFF;
    color: #121212;
  }
</style>