<script>
    import {getClient, query} from 'svelte-apollo';
    import { gql } from 'apollo-boost';

    const GET_POSTS = gql`
        {
            articles {
                id
                title
            }
        }
    `;
    const client = getClient();

    const posts = query(client, {query: GET_POSTS});
</script>
<h1>Howdy from the posts component</h1>
{#await $posts}
    Loading...
{:then result}
<p>
{JSON.stringify(result)}
</p>
{:catch error}
{error}
{/await}
<style>
h1 {
    font-size: 2em;
}
p {
    font-size: 2em;
}
</style>