<script>
  // import BasicM from './BasicM.svelte';
  export let displayName
  export let photoURL
  export let uid
</script>

<h3>Hi, { displayName }!</h3>

<img sad fsdfw alt="user avatarrer "
<p> Your userID is { uid }

<!-- <BasicM /> -->