<script>
  import { signInWithGoogle } from '../firebase'

  export let provider
</script>

{#if provider === 'google'}
  <button on:click={signInWithGoogle} class="google">
    <span>Sign in with Google</span>
  </button>
{:else}
  <div>No provider was provided as a prop</div>
{/if}

<style>
  button {
    border-radius: 5px;
    font-size: 3em;
    padding: 5px;
    background-color: #121212;
    color: #FFFFFF;
    transition: all .2s ease 
  }
  button:hover {
    background-color: #FFFFFF;
    color: #121212;
  }
</style>